<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- 配置被代理对象 -->
	<bean id="test1Service" class="com.aop.Test1Service">
		<property name="name" value="shadow" />
	</bean>


	<!-- 配置前置通知 -->
	<bean id="MyMethodBeforeAdvice" class="com.aop.MyMethodBeforeAdvice" />
	<!-- 配置后置通知 -->
	<bean id="MyMethodAfterAdvice" class="com.aop.MyAfterReturningAdvice" />
	<!-- 配置环绕通知 -->
	<bean id="MyMethodInterseptor" class="com.aop.MyMethodInterceptor" />
	<!-- 配置异常通知 -->
	<bean id="MyThrowsAdvice" class="com.aop.MyThrowsAdvice" />


	<!-- 自定义前置标签的切入点 -->
	<bean id="myMethodBeforeAdviceFilter"
		class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="MyMethodBeforeAdvice" />
		<property name="mappedNames">
			<list>
				<value>sayByeBye</value><!-- 前置通知只对对应方法实现 -->
				<!-- <value>sayByeBye</value> -->
			</list>
		</property>
	</bean>


	<!-- 配置代理对象 -->
	<bean id="ProxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 配置代理借口 -->
		<property name="proxyInterfaces">
			<list>
				<value>com.aop.TestServiceInter</value>
				<value>com.aop.TestServiceInter2</value>
			</list>
		</property>
		<!-- 织入通知 -->
		<property name="interceptorNames">
			<list>
				<value>myMethodBeforeAdviceFilter</value><!-- 前置通知 -->
				<value>MyMethodAfterAdvice</value><!-- 后置通知 -->
				<value>MyMethodInterseptor</value><!-- 环绕通知 -->
				<value>MyThrowsAdvice</value><!-- 异常通知 -->
			</list>
		</property>
		<!-- 加入被代理对象 -->
		<property name="target" ref="test1Service" />
	</bean>

</beans>
