<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<!-- p配置一个学生 -->
	<bean id="student" class="com.inherit.Student" >
		<property name="name" value="Shadow"/>
		<property name="age" value="18"/>
	</bean>
	<bean id="grdate" parent="student" class="com.inherit.Graduate" >
		<property name="name" value="Shadowave"/>
		<property name="degree" value="master"/>
	</bean>
</beans>
